.reachout img{
    width: 17rem;
    height: 17rem;
    border-radius: 50%;
    text-align: center;
    border: 0.3rem solid white;
}
.reachout{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5rem 0 0 0;
    padding: 5rem 0;
    font-size: 1.5rem;
    color: white;
    animation-name: second;
    animation-duration: 10000ms;
    animation-iteration-count: infinite;
}
.reachoutLeft{
    text-align: center;
    line-height: 3rem;
    padding-right: 5rem;
    width: 30rem;
}
.reachoutService{
    font-size: 1rem;
    font-weight: 700;
    color: midnightblue;
}
.reachoutService{
    color: black;
}
.reachoutHeading, .reachoutDetails{
    font-size: 1.5rem;
}

.reachoutLocation{
    display: block;
    margin: 2rem auto;
    background: aquamarine;
    border: 0.1rem solid white;
    font-size: 1rem;
    border-radius: 2rem;
    font-weight: 700;
    color: black;
    width: 15rem;
    text-transform: capitalize;
    text-decoration: none;
    outline: none;
}
.reachoutLocation:hover{
    cursor: pointer;
    animation-name: dooranime;
    animation-duration: 3000ms;
    animation-iteration-count: infinite;
}
.reachout img:hover{
    transform: scale(1.1);
    border: 0.3rem solid #00A170;
}
.contactForm{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 1.5rem 0;
    font-size: 1.5rem;
}
.contactForm input::placeholder, .contactForm textarea::placeholder{
    font-size: 1.2rem;
}
.contactForm input, .contactForm textarea, .contactForm button{
    margin: 1rem 0;
    padding: 1rem;
    border-radius: 0.5rem;
    border: none;
    font-size: 1.2rem;
    z-index: 9999;
}
.formContactMedium::placeholder{
    font-size: 0.9em !important;
}
.contactForm button{
    cursor: pointer;
    background: mediumspringgreen;
}

@keyframes dooranime{
    from {box-shadow: 0}
    to {box-shadow: inset -10.5em 0 0 0 pink, inset 10.5em 0 0 0 pink;}
}
@keyframes second{
    0% {background: #0072B5;}
    25% {background: #D2386C;}
    50% {background: #926AA6;}
    75% {background: #D2386C;}
    100% {background: #E9897E;}
}

.goTopIcon{
    position: fixed;
    right: 5rem;
    bottom: 3rem;
    background: black;
    padding: 1rem;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
}

.goTopIcon a{
    color: white;
    text-decoration: none;
}

@media screen and (max-width: 645px) {

    .reachout img{
        visibility: hidden;
        width: 0rem;
        height: 0rem;
    }

    .reachout{
        flex-direction: column;
        margin: 1rem 0 0 0;
        padding: 1rem 0;
    }

    .reachoutLeft{
        text-align: center;
        line-height: 2rem;
        padding-right: 0rem;
        width: 16rem;
        margin: auto;
    }

    .goTopIcon{
        position: fixed;
        right: 1rem;
        bottom: 1rem;
        z-index: 9999;
    }

    .reachoutLocation{
        margin:1rem auto;
    }

    .reachoutHeading, .reachoutDetails{
        font-size: 1.3rem;
    }

    .contactForm{
        margin: 1rem 0;
    }
}