.introduction img{
    width: 25rem;
    height: 25rem;
    border-radius: 50%;
    text-align: center;
    margin-right: 5rem;
    margin-left: 10rem;
    border: 0.3rem solid white;
    animation-name: bounce1;
    animation-duration: 6000ms;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
.introduction{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.introduction-info{
    width: 70rem;
}
.introduction-info strong{
    font-size: 6rem;
    display: block;
}
.introduction-info p{
    font-size: 4rem;
    display: inline;
}
.Typewriter{
    padding-left: 1rem;
    display: inline;
    font-size: 4rem;
}
.introduction-name{
    color: maroon;
    font-size: 6rem;
}
.introduction-info a{
    display: block;
}
.introduction-resume, .introduction-mail, .copyMyPhoneNumber{
    padding: 1rem;
    background: white;
    border: none;
    font-size: 1rem;
    border-radius: 2rem;
    font-weight: 700;
    color: black;
    margin-right: 2rem;
    width: 15rem;
    text-transform: capitalize;
}
.introduction-resume:hover, .introduction-mail:hover, .copyMyPhoneNumber:hover, .introduction-resume:focus, .introduction-mail:focus, .copyMyPhoneNumber:focus{
    cursor: pointer;
    background: mediumaquamarine;
    color: black;
}
.introductionButtons{
    display: flex;
    margin-top: 4rem;
}

@keyframes bounce1 {
    0%   { transform: translateY(0); }
    50%  { transform: translateY(-100px); }
    100% { transform: translateY(0); }
}

.introduction img:hover{
    animation: none;
}


@media screen and (max-width: 600px) {

    .introduction{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 100%;
        height: 100%;
    }

    .introduction img{
        width: 12rem;
        height: 12rem;
        border-radius: 50%;
        text-align: center;
        margin-right: 0rem;
        margin-left: 0rem;
        margin-bottom: 2rem;
    }
    .introductionButtons{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 2rem;
        justify-content: center;
    }
    .introduction-info{
        width: 20rem;
    }

    .introduction-info strong{
        font-size: 1.5rem;
        display: block;
        margin-bottom: 0.8rem;;
    }
    .introduction-info p{
        font-size: 1.5rem;
    }
    .Typewriter{
        padding-left: 0.5rem;
        font-size: 1.5rem;
        height: 3rem;
    }
    .introduction-name{
        font-size: 1.5rem;
    }

    .introduction-resume, .introduction-mail, .copyMyPhoneNumber{
        margin: 1rem;
        margin-right: 0rem;
        font-size: 0.8rem;
        width: 8rem;
        text-transform: capitalize;
        padding: 0.6rem;
        height: 3rem;
    }
}