.project{
    display: flex;
    flex-direction: column;
    width: 21rem;
    height: 30rem;
    margin: 2rem;
    background: cornflowerblue;
    border-radius: 1rem;
}
.projectTexts{
    padding: 0 2rem;
    text-align: left;
}
.projectName{
    padding: 2rem 0;
    font-size: 1.7rem;
}
.projectTags{
    padding: 2rem 0;
}
.projectImage{
    border-top-left-radius : 1rem;
    border-top-right-radius : 1rem;
}
.projectDetails{
    height: 5rem;
    display: flex;
    align-items: center;
}
.project:hover{
    cursor: pointer;
}