.testimonials{
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(121,114,9,1) 35%, rgba(0,212,255,1) 100%);
    width: 70rem;
    height: 17rem;
    border-radius: 2rem;
    margin: auto;
}
.testimonials button{
    margin: 0 4rem;
    background: none;
    border: none;
    color: white;
    font-size: 4rem;
    outline: none;
}
.testimonials button:hover{
    cursor: pointer;
    color: greenyellow;
    transform: scale(2)
}

@media screen and (max-width: 600px) {
    .testimonials{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: rgb(2,0,36);
        background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(121,114,9,1) 35%, rgba(0,212,255,1) 100%);
        width: 17rem;
        height: 40rem;
        overflow: hidden;
        border-radius: 2rem;
        margin: auto;
    }
    .testimonials button{
        margin: 1rem 0;
       transform: rotate(90deg);
    }

    .testimonials button:hover{
        cursor: pointer;
        color: greenyellow;
        transform: scale(2) rotate(90deg);
    }
}

@media screen and (min-width:640px) and (max-width: 1024px) {
    .testimonials{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: rgb(2,0,36);
        background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(121,114,9,1) 35%, rgba(0,212,255,1) 100%);
        width: 35rem;
        height: 45rem;
        overflow: hidden;
        border-radius: 2rem;
        margin: auto;
    }
    .testimonials button{
        margin: 1rem 0;
       transform: rotate(90deg);
    }

    .testimonials button:hover{
        cursor: pointer;
        color: greenyellow;
        transform: scale(2) rotate(90deg);
    }
}